<div class="row">
  <div class="label">Default button</div>
  <div class="value">
    <a wor-button>
      Отправить
    </a>
  </div>
</div>
<div class="row">
  <div class="label">Raised accent button, active</div>
  <div class="value">
    <a wor-button-raised
            color="accent">
      Отправить
    </a>
  </div>
</div>
<div class="row">
  <div class="label">Raised accent button, disabled</div>
  <div class="value">
    <a wor-button-raised
            color="accent"
            [disabled]="true">
      Отправить
    </a>
  </div>
</div>

<div class="row">
  <div class="label">Basic stroke button, active</div>
  <div class="value">
    <a wor-button-stroke
            color="basic">
      Вернуться назад
    </a>
  </div>
</div>

<div class="row">
  <div class="label">Basic stroke button, disabled</div>
  <div class="value">
    <a wor-button-stroke
            color="basic"
            [disabled]="true">
      Вернуться назад
    </a>
  </div>
</div>
