@import "../../styles/vars";

:host {
  display: block;
  width: 100%;

  .input {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 16px;

    &-wrapper {
      flex: 1;
      padding: 8px 0 7px;
      border-bottom: 1px solid rgba(255,255,255,.4);

      input {
        -webkit-appearance: none;
        font-family: $main-font;
        font-size: 15px;
        line-height: 16px;
        background-color: transparent;
        border: 0;
        outline: 0;
        color: #fff;
        width: 100%;
        &::placeholder {
          color: rgba(255, 255, 255, .7);
        }
        &::-webkit-inner-spin-button,
        &::-webkit-outer-spin-button {
          -webkit-appearance: none;
          margin: 0;
        }
      }
    }
    &-postfix {
      margin-left: 8px;
      opacity: 0.7;
      font: 15px/16px $main-font;
    }
  }
  li {
    text-align: right;

    & + li {
      margin-top: 10px;
    }
  }
}
