@import '../../../../styles/vars';

:host {
  width: 100%;
}

wor-card {
  @include media-breakpoint-down(md) {
    .left, .right {
      width: 100%;
    }
  }
  @include media-breakpoint-down(xs) {
    &, .left {
      padding: 0 !important;
    }
  }
}

.title {
  margin-bottom: 14px;
}

.features {
  li {
    margin: 0 -30px;
    padding: 5px 30px;
    flex-wrap: nowrap;
    &.-active {
      background-color: #aaa;
      color: #fff;
      span {
        color: inherit;
      }
    }
  }
  &-name, &-value {
    white-space: nowrap;
    overflow-x: hidden;
    text-overflow: ellipsis;
  }
  &-name {
    min-width: 60px;
  }
  &-value {
    margin-left: 5px;
    max-width: calc(100% - 65px);
  }
}
