<wor-card>
  <div class="form">
    <div class="form-group">
      <label class="form-group-name">Введите количество СПЗ для покупки:</label>
      <div class="form-group-controls">
        <input type="text" class="form-control" placeholder="Сумма">
      </div>
    </div>
  </div>
</wor-card>
<br>
<wor-card [error]="true">
  <div class="form">
    <div class="form-group">
      <label class="form-group-name">Введите количество СПЗ для покупки:</label>
      <div class="form-group-controls">
        <input type="text" class="form-control" placeholder="Сумма">
      </div>
    </div>
  </div>
</wor-card>
<br>
<wor-card [divided]="true">
  <div class="left">
    <div class="form">
      <div class="form-group">
        <label class="form-group-name">Введите количество СПЗ для покупки:</label>
        <div class="form-group-controls">
          <input type="text" class="form-control" placeholder="Сумма">
        </div>
      </div>
    </div>
  </div>
  <div class="right">
    <div class="title h4 ttu">К оплате</div>
    <ul class="features">
      <li>
        <span class="features-name">Комиссия</span>
        <span class="features-value">80 СПЗ</span>
      </li>
      <li>
        <span class="features-name">Итого</span>
        <span class="features-value">1 000 080 СПЗ</span>
      </li>
    </ul>
  </div>
</wor-card>
<br>
<wor-card dark>
  <div class="form">
    <div class="form-group">
      <label class="form-group-name">Введите количество СПЗ для покупки:</label>
      <div class="form-group-controls">
        <input type="text" class="form-control" placeholder="Сумма">
      </div>
    </div>
  </div>
</wor-card>
<br>
<wor-card widget>
  <div class="form">
    <div class="form-group">
      <label class="form-group-name">Введите количество СПЗ для покупки:</label>
      <div class="form-group-controls">
        <input type="text" class="form-control" placeholder="Сумма">
      </div>
    </div>
  </div>
</wor-card>
<wor-card widget class="-narrow">
  <div class="form">
    <div class="form-group">
      <label class="form-group-name">Введите количество СПЗ для покупки:</label>
      <div class="form-group-controls">
        <input type="text" class="form-control" placeholder="Сумма">
      </div>
    </div>
  </div>
</wor-card>


