<wor-card *ngIf="!isOldPasswordValidated; else newPass">
  <div class="form-group">
    <label for="oldPassword" class="form-group-name">Подтвердите, что это Вы — введите Ваш текущий пароль:</label>
    <div class="form-group-controls">
      <div class="form-control-icons">
        <input wor-input
               [formControl]="oldPassword"
               [required]="true"
               [type]="isPasswordVisible ? 'text' : 'password'"
               id="oldPassword">
        <i class="icon ic-eye"
           [class.-active]="isPasswordVisible"
           (click)="togglePasswordVisibility()">
        </i>
      </div>
    </div>
    <div class="form-btn">
      <button wor-button-raised
              color="accent"
              (click)="validatePassword(oldPassword.value)"
              [disabled]="oldPassword.invalid">
        Далее
      </button>
    </div>
  </div>
</wor-card>
<ng-template #newPass>
  <ng-container *ngIf="!isNewPasswordUpdated; else success">
    <wor-card>
      <div class="form-group">
        <label for="newPassword" class="form-group-name">Спасибо. Теперь введите новый пароль:</label>
        <div class="form-group-controls">
          <div class="form-control-icons">
            <input [type]="isPasswordVisible ? 'text' : 'password'"
                   wor-input
                   id="newPassword"
                   [formControl]="newPassword">
            <i class="icon ic-eye"
               [class.-active]="isPasswordVisible"
               (click)="togglePasswordVisibility()">
            </i>
          </div>
          <wor-meter [value]="newPassword.value"></wor-meter>
        </div>
        <div class="form-btn">
          <button wor-button-raised
                  color="accent"
                  (click)="updatePassword(newPassword.value)"
                  [disabled]="newPassword.invalid">
            Сохранить
          </button>
        </div>
      </div>
    </wor-card>
  </ng-container>
</ng-template>
<ng-template #success>
  <h2 class="h2 title">Пароль успешно изменён</h2>
  <div class="form-controls">
    <button wor-button-stroke
            color="blank"
            (click)="back()">
      Вернуться назад
    </button>
  </div>
</ng-template>
